{% load static %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Add photo</title> 
    <link rel="stylesheet" type="text/css" href="{% static "styles/arkusz.css"%}">
</head> 
<body> 
<div id="win">
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        
        
       
        </br>
        
        <button type="submit" class="potwierdz">Upload</button> 
        <input type="button" class="potwierdz" value="Back"onclick="location.href='..';" />
    </form> 
    </div>
</body> 
</html> 