<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="plik.js"></script>
<title>Insta</title>
<link rel="stylesheet" type="text/css" href="arkusz.css">
</head>
<body>
<div id="Container">

<div id="HeaderContainer">

<div id="Header">

</div>

<div id="Header1">
<img src="logo.png" alt="Logo strony" id="logo" >
<section>
<nav>
<ul>

<li><a href="link">Rejestruj</a></li>
<li><a href="link">Zaloguj </a></li>

</nav>
</div>

<div id="Header2">



</div>

</div>



<div id="Left">
b
</div>



<div id="Center">

<div id="Nazwa">
<img src="camera.png" alt="Logo strony" id="cam" >
<div id="tag"> <h3>Osiecki Jan</h3></div>
</div>

<div id="Zdjecie">
<img src="{{imag.img.url}}" alt="Logo strony" id="logo" >
</div>
<div id="Opis">

<div id="Opis2">
<b>Opis: </b> Tresc opisu.....
</div>

</div>

<div id="Komentarze">

<div id="Komentarz">
<b>Uzytk1: </b> Tresc komentarza.....
</div>

</div>

<div id="DodajKomentarz">

<form method="post">
 <input type="text" name="CommentText" id="CommentText" placeholder="Dodaj komentarz...">
 <input type="Submit" id="add" value="Dodaj">

</form>
</div>

</div>




<div id="Right">
d
</div>

<div id="Footer">
e
</div>




</div>

</body>
</html>